body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}
#calculator {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
}

.portfolio-item {
    margin-bottom: 2em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}